body{
    background-size: cover;
    text-align: center;
    font-weight: bold;
}
.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 15px;
    color: black;
}
#webcam{
    background-color: black;
    border: 3px 3px 3px solid greenyellow;
}